{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <div>
        <p>
            <a class="btn btn-primary" href="{{ path('tntsearch.index', {'rebuild': true}) }}">
                <i class="fa fa-fw fa-sitemap"></i> Rebuild
            </a>
            {#
            |
            <a class="btn btn-secondary expand-all" href="#">
                <i class="fa fa-fw fa-caret-down"></i> Expand all
            </a>
            <a class="btn btn-secondary collapse-all" href="#">
                <i class="fa fa-fw fa-caret-up"></i> Collapse all
            </a>
            #}

            <a class="btn btn-tertiary pull-right"
                href="{{ path('fileedit', { namespace: 'config', file: 'extensions/tntsearch.twokings.yml'}) }}">
                <i class="fa fa-fw fa-cog"></i> Edit configuration
            </a>
        </p>
    </div>

    <div class="well">

    real keks right up in this place

    </div>

{% endblock page_main %}
